<div class="container mt-4">
  <h1>Create a batch</h1>
  <p>Available students can be enrolled to different training batches</p>
</div>

<section class="container">
  <form [formGroup]="batchregistrationform" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" formGroupName="courses">
      <mat-label for="course">Select a course</mat-label>
      <mat-select name="course" formControlName="id">
        <mat-option *ngFor="let c of courseList" [value]="c.id">
          {{ c.courseName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <mat-form-field appearance="fill" class="mr-2">
      <mat-label>Location</mat-label>
      <input type="text" matInput formControlName="location" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="mr-2">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="startDatePicker"
        formControlName="startDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="mr-2">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="endDatePicker"
        formControlName="endDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker disabled="false"></mat-datepicker>
    </mat-form-field>

    <button mat-stroked-button color="primary" type="submit">Submit</button>
  </form>
</section>

<div class="container mt-4">
  <h1>View batches</h1>
  <p>List of batches where students are enrolled</p>
</div>

<section class="container">
  <form [formGroup]="batchviewform" (ngSubmit)="onView()">
    <mat-form-field appearance="fill" formGroupName="courses">
      <mat-label for="course">Select a course</mat-label>
      <mat-select name="course" formControlName="id">
        <mat-option *ngFor="let c of courseList" [value]="c.id">
          {{ c.courseName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <button mat-stroked-button color="primary" type="submit">Apply</button>
  </form>
</section>

<div class="mat-elevation-z4 container mt-5 mb-2">
  <div class="table-title p-4">
    <div class="row">
      <div class="col-md-12">
        <h2>Batch details</h2>
      </div>
    </div>
  </div>
  <p
    class="row text-left justify-content-center align-items-center"
    *ngIf="isLoading"
  >
    <mat-spinner [diameter]="40"></mat-spinner>
    &nbsp;&nbsp;Loading...
  </p>
  <p
    class="text-center"
    *ngIf="!isLoading && dataSourceBatches.data.length == 0"
  >
    No batch details found
  </p>

  <mat-table
    mat-table
    [dataSource]="dataSourceBatches"
    *ngIf="dataSourceBatches.data.length != 0"
  >
    <ng-container matColumnDef="courses">
      <th mat-header-cell *matHeaderCellDef>Course Name</th>
      <td mat-cell *matCellDef="let element">
        {{
          element.courses.courseName
            ? (element.courses.courseName | titlecase)
            : "-"
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let element">
        {{ element.location ? element.location : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.startDate ? element.startDate : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>End Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.endDate ? element.endDate : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="students">
      <th mat-header-cell *matHeaderCellDef>Students</th>
      <td mat-cell *matCellDef="let element">
        <p *ngFor="let s of element.students">
          {{ s.studentName ? s.studentName : "-" }}
        </p>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedBatchesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedBatchesColumns"></tr>
  </mat-table>

  <mat-paginator
    #MatPaginator1
    [pageSizeOptions]="[10, 20, 30, 40]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<div class="container" style="min-height: 250px"></div>
