<mat-toolbar fxLayout="row" color="primary">
  <a class="brand-text" routerLink="/" fxFlex>Hunar</a>
  <!-- Student register -->
  <button
    mat-button
    fxHide.xs
    routerLink="/student-register"
    *ngIf="!isStudentLoggedIn && !isAdminLoggedIn"
  >
    <mat-icon class="mr">group</mat-icon>
    Student register
  </button>

  <!-- Student Profile (student should be logged in) -->
  <button
    mat-button
    fxHide.xs
    routerLink="/student-dashboard"
    *ngIf="isStudentLoggedIn"
  >
    <mat-icon class="mr">account_circle</mat-icon>
    My Profile
  </button>

  <!-- Login -->
  <button
    mat-button
    fxHide.xs
    routerLink="/login"
    *ngIf="!isStudentLoggedIn && !isAdminLoggedIn"
  >
    <mat-icon class="mr">login</mat-icon>
    Login
  </button>

  <!-- Admin -->
  <button
    mat-button
    fxHide.xs
    routerLink="/admin-login"
    *ngIf="!isStudentLoggedIn && !isAdminLoggedIn"
  >
    <mat-icon class="mr">login</mat-icon>
    Admin
  </button>

  <!-- Admin Dashboard -->
  <button
    mat-button
    fxHide.xs
    routerLink="/admin-dashboard"
    *ngIf="isAdminLoggedIn"
  >
    <mat-icon class="mr">dashboard</mat-icon>
    Dashboard
  </button>

  <!-- Student List -->
  <button
    mat-button
    fxHide.xs
    routerLink="/student-list"
    *ngIf="isAdminLoggedIn"
  >
    <mat-icon class="mr">groups</mat-icon>
    Students
  </button>

  <!-- Partner -->
  <button
    mat-button
    fxHide.xs
    routerLink="/partner-list"
    *ngIf="isAdminLoggedIn"
  >
    <mat-icon class="mr">group_work</mat-icon>
    Partners
  </button>

  <!-- Course Menu -->
  <button
    mat-button
    fxHide.xs
    [matMenuTriggerFor]="course"
    *ngIf="isAdminLoggedIn"
  >
    <mat-icon class="mr">auto_stories</mat-icon>
    Courses
  </button>
  <mat-menu #course="matMenu">
    <button mat-menu-item routerLink="/course-list">View courses</button>
    <button mat-menu-item routerLink="/course-enroll">Batches</button>
  </mat-menu>

  <!-- Jobs Menu -->
  <button
    mat-button
    fxHide.xs
    [matMenuTriggerFor]="job"
    *ngIf="isAdminLoggedIn"
  >
    <mat-icon class="mr">work</mat-icon>
    Jobs
  </button>
  <mat-menu #job="matMenu">
    <button mat-menu-item routerLink="/job-list">View jobs</button>
    <button mat-menu-item routerLink="/job-mapping">Job mapping</button>
  </mat-menu>

  <!-- Reports -->
  <button mat-button fxHide.xs routerLink="/reports" *ngIf="isAdminLoggedIn">
    <mat-icon class="mr">summarize</mat-icon>
    Reports
  </button>

  <!-- Logout -->
  <button
    mat-button
    fxHide.xs
    (click)="logOutUser()"
    *ngIf="isStudentLoggedIn || isAdminLoggedIn"
  >
    <mat-icon class="mr">logout</mat-icon>
    Logout
  </button>

  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #dropMenu="matMenu">
    <!-- Student register -->
    <button
      mat-button
      routerLink="/student-register"
      *ngIf="!isStudentLoggedIn && !isAdminLoggedIn"
    >
      <mat-icon class="mr">group</mat-icon>
      Student register
    </button>

    <mat-divider *ngIf="!isStudentLoggedIn && !isAdminLoggedIn"></mat-divider>

    <!-- Student Profile (student should be logged in) -->
    <button
      mat-button
      routerLink="/student-dashboard"
      *ngIf="isStudentLoggedIn"
    >
      <mat-icon class="mr">account_circle</mat-icon>
      My Profile
    </button>

    <mat-divider *ngIf="isStudentLoggedIn"></mat-divider>

    <!-- Login -->
    <button
      mat-button
      routerLink="/login"
      *ngIf="!isStudentLoggedIn && !isAdminLoggedIn"
    >
      <mat-icon class="mr">login</mat-icon>
      Login
    </button>

    <mat-divider *ngIf="!isStudentLoggedIn && !isAdminLoggedIn"></mat-divider>

    <!-- Admin Dashboard -->
    <button mat-button routerLink="/admin-dashboard" *ngIf="isAdminLoggedIn">
      <mat-icon class="mr">dashboard</mat-icon>
      Dashboard
    </button>

    <mat-divider *ngIf="isAdminLoggedIn"></mat-divider>

    <!-- Student List -->
    <button mat-button routerLink="/student-list" *ngIf="isAdminLoggedIn">
      <mat-icon class="mr">groups</mat-icon>
      Students
    </button>

    <mat-divider *ngIf="isAdminLoggedIn"></mat-divider>

    <!-- Partner -->
    <button mat-button routerLink="/partner-list" *ngIf="isAdminLoggedIn">
      <mat-icon class="mr">group_work</mat-icon>
      Partners
    </button>

    <mat-divider *ngIf="isAdminLoggedIn"></mat-divider>

    <!-- Jobs -->
    <button mat-button routerLink="/job-list" *ngIf="isAdminLoggedIn">
      <mat-icon class="mr">work</mat-icon>
      Jobs
    </button>

    <mat-divider *ngIf="isAdminLoggedIn"></mat-divider>

    <!-- Reports -->
    <button mat-button routerLink="/reports" *ngIf="isAdminLoggedIn">
      <mat-icon class="mr">summarize</mat-icon>
      Reports
    </button>

    <mat-divider *ngIf="isAdminLoggedIn"></mat-divider>

    <!-- Logout -->
    <button
      mat-button
      (click)="logOutUser()"
      *ngIf="isStudentLoggedIn || isAdminLoggedIn"
    >
      Logout
    </button>
  </mat-menu>
</mat-toolbar>
