<footer class="dk-footer mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4">
        <div class="dk-footer-box-info">
          <p class="footer-info-text">
            Founded in 2010, United Way of Hyderabad (UWH) is a non-profit
            volunteer led organization, that supports and mainstreams the
            socio-economically underprivileged communities of Telangana and
            Andhra Pradesh.
          </p>
          <div class="footer-social-link">
            <h3>Follow us</h3>
            <ul>
              <li>
                <a
                  target="_blank"
                  href="https://www.facebook.com/UnitedWayHyderabad/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://twitter.com/unitedwayhyd">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/company/unitedwayhyderabad"
                >
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.instagram.com/unitedwayhyd/?hl=en"
                >
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-8">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="footer-widget footer-left-widget">
              <div class="section-heading">
                <h3>OFFICE ADDRESS</h3>
                <p style="color: white">
                  Flat No: 401, 4th Floor, Lahari Park Apartment, Somajiguda,
                  Hyderabad - 500 082.
                </p>
                <h3>Contact</h3>
                <p style="color: white">040 2328 7679</p>
                <h3>Email</h3>
                <p style="color: white">contact@unitedwayhyderabad.org</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="footer-widget footer-left-widget">
              <div class="section-heading">
                <h3>REGISTERED ADDRESS</h3>
                <p style="color: white">
                  Plot number.54, Sagar Society, c/o Sathguru Management
                  Consultants, Road no.2, Banjara hills, Hyderabad - 500 033.
                </p>
                <h3>Our Presence</h3>
                <div class="row">
                  <div class="col-6">
                    <ul class="presence-list" style="color: white">
                      <li>CHENNAI</li>
                      <li>KOLKATA</li>
                      <li>AHMEDABAD</li>
                      <li>HYDERABAD</li>
                    </ul>
                  </div>
                  <div class="col-6">
                    <ul class="presence-list" style="color: white">
                      <li>BARODA</li>
                      <li>BENGALURU</li>
                      <li>NEWDELHI</li>
                      <li>MUMBAI</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span>Copyright © 2021, All Right Reserved Hunar</span>
        </div>
      </div>
    </div>
  </div>
</footer>
