<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img
            src="https://firstgen.naspa.org/images/dmImage/StandardImage/standard_1800x1090_define-firstgen12.jpg"
            alt="student profile picture"
            class="img img-fluid rounded"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h1>{{ student?.studentName ? student?.studentName : "-" }}</h1>
          <h3>
            {{
              student?.studentCurrentJobFields
                ? student?.studentCurrentJobFields
                : "-"
            }}
          </h3>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >Job Details</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <button
          mat-stroked-button
          color="warn"
          href="#editStudentModal"
          (click)="update(student)"
          class="edit"
          data-toggle="modal"
        >
          <mat-icon>edit</mat-icon>
          Edit Profile
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>SKILLS</p>
          <a>{{
            student?.studentCurrentSkills ? student?.studentCurrentSkills : "-"
          }}</a
          ><br />
          <p>PURPOSE</p>
          <a>{{ student?.purpose ? student?.purpose : "-" }}</a
          ><br />
          <p>INTERESTED FIELD</p>
          <a>{{
            student?.studentInterestedJobFields
              ? student?.studentInterestedJobFields
              : "-"
          }}</a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="row">
              <div class="col-md-6">
                <label>Registration Id</label>
              </div>
              <div class="col-md-6">
                <p>{{ student?.regdNo ? student?.regdNo : "-" }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p>{{ student?.studentName ? student?.studentName : "-" }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{ student?.email ? student?.email : "-" }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>{{ student?.phone ? student?.phone : "-" }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Gender</label>
              </div>
              <div class="col-md-6">
                <p>{{ student?.gender ? student?.gender : "-" }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Date of Birth</label>
              </div>
              <div class="col-md-6">
                <p>{{ student?.dateOfBirth ? student?.dateOfBirth : "-" }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Registration Date</label>
              </div>
              <div class="col-md-6">
                <p>{{ student?.regdDate ? student?.regdDate : "-" }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Address</label><br />
                <p>
                  {{ student?.currentAddress ? student?.currentAddress : "-" }}
                </p>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="row">
              <div class="col-md-6">
                <label>Experience</label>
              </div>
              <div class="col-md-6">
                <p>
                  {{ student?.experience ? student?.experience : "0" }} years
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Current Salary</label>
              </div>
              <div class="col-md-6">
                <p>
                  {{
                    student?.currentSalary
                      ? (student?.currentSalary | currency: "INR")
                      : "-"
                  }}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Expected Salary</label>
              </div>
              <div class="col-md-6">
                <p>
                  {{
                    student?.expectedJobSalary
                      ? (student?.expectedJobSalary | currency: "INR")
                      : "-"
                  }}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Qualification</label>
              </div>
              <div class="col-md-6">
                <p>
                  {{ student?.qualification ? student?.qualification : "-" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="editStudentModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="studentupdateform" (ngSubmit)="onUpdate()">
        <div class="modal-header">
          <h4 class="modal-title">Edit Student</h4>
          <button
            #editClose
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" formControlName="id" />
          <div class="form-group">
            <label>UID</label>
            <input
              type="text"
              formControlName="uid"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Student Name</label>
            <input
              type="text"
              formControlName="studentName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Email ID</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Phone No</label>
            <input
              type="number"
              formControlName="phone"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Add. Phone No</label>
            <input
              type="number"
              formControlName="additionalPhone"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Date of Birth</label>
            <input
              class="form-control"
              formControlName="dateOfBirth"
              type="date"
              required
            />
          </div>
          <div class="form-group">
            <label>BPL Card No</label>
            <input
              type="text"
              formControlName="bplCard"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>City</label>
            <input
              class="form-control"
              formControlName="currentCity"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <label>District</label>
            <input
              class="form-control"
              formControlName="districtName"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea
              class="form-control"
              formControlName="currentAddress"
              type="number"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <label>Purpose</label>
            <input
              type="text"
              formControlName="purpose"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Referral Type</label>
            <input
              type="text"
              formControlName="referredByType"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Referral By</label>
            <input
              type="text"
              formControlName="referredByName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Qualification</label>
            <input
              type="text"
              formControlName="qualification"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>University</label>
            <input
              type="text"
              formControlName="university"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Current Skills</label>
            <input
              type="text"
              formControlName="studentCurrentSkills"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Additional Courses</label>
            <input
              type="text"
              formControlName="additionalCourse"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Current Salary</label>
            <input
              type="number"
              formControlName="currentSalary"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Expected Salary</label>
            <input
              type="number"
              formControlName="expectedJobSalary"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Field</label>
            <input
              type="text"
              formControlName="studentCurrentJobFields"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Experience</label>
            <input
              class="form-control"
              formControlName="experience"
              type="number"
              required
            />
          </div>
          <div class="form-group">
            <label>Interested Skills</label>
            <input
              class="form-control"
              formControlName="studentInterestedSkills"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <label>Interested Job Field</label>
            <input
              class="form-control"
              formControlName="studentInterestedJobFields"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <label>Preffered Job Location</label>
            <input
              class="form-control"
              formControlName="studentJobLocationPreferences"
              type="text"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12">
              <p
                *ngIf="this.studentupdateform.status == 'INVALID'"
                style="color: red"
              >
                Student details are not valid
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
            </div>
            <div class="col-md-6">
              <input type="submit" class="btn btn-info" value="Save" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
