<section>
  <div
    id="main-carousel"
    class="carousel slide carousel-fade"
    data-ride="carousel"
    data-interval="2500"
  >
    <ol class="carousel-indicators">
      <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#main-carousel" data-slide-to="1"></li>
      <li data-target="#main-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img
            class="d-block w-100"
            style="height: 550px; object-fit: cover; filter: brightness(50%)"
            src="https://insights.dice.com/wp-content/uploads/2019/10/Upskilling-Learn-New-Skills-Tech-Skill-Dice.png"
          />
          <a href="#!">
            <div class="mask rgba-black-light"></div>
          </a>
        </div>
        <div class="carousel-caption">
          <h1>Prepare for tomorrow</h1>
          <p>Learn industry ready technologies for your career</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img
            class="d-block w-100"
            style="height: 550px; object-fit: cover; filter: brightness(50%)"
            src="https://tsh.io/wp-content/uploads/2020/01/developer-reskilling-lead_.jpg"
          />
          <a href="#!">
            <div class="mask rgba-black-light"></div>
          </a>
        </div>
        <div class="carousel-caption">
          <h1>Map your skills to job</h1>
          <p>Find the right path that you will enjoy</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img
            class="d-block w-100"
            style="height: 550px; object-fit: cover; filter: brightness(50%)"
            src="https://blog.joynus.com/hubfs/upskilling%20and%20reskillinge%20employees.jpg"
          />
          <a href="#!">
            <div class="mask rgba-black-light"></div>
          </a>
        </div>
        <div class="carousel-caption">
          <h1>Build & Grow</h1>
          <p>Join the community to excel</p>
        </div>
      </div>
    </div>

    <a
      class="carousel-control-prev"
      href="#main-carousel"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#main-carousel"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<section class="container mt-4 pt-4">
  <h1 style="font-weight: bold">Welcome to Hunar</h1>
  <p style="font-size: 16px">
    Project Hunar envisions to provide better financial opportunities to the
    poor households by helping them upgrade their existing livelihoods or
    creating new opportunities. UWH does so by setting up community-based
    resource centers where different age groups of individuals can learn and get
    equipped with requisite skills and networks and enhance their livelihood
    opportunities.
  </p>
  <p style="font-size: 16px">
    Hunar entails skill development. Through Hunar, United Way of Hyderabad
    (UWH) enables the socio-economically underprivileged communities to secure a
    better livelihood. Under this project, UWH connects community members to
    identify their needs/aspirations of better livelihood; connect them to
    industry-relevant and market-driven skill training; as well as provide
    value-added support like workplace readiness, communication and
    collaboration. The core objectives of Hunar are to enable women to acquire
    technical skills to make them employable so that they are able to take up
    jobs or enterprise opportunities available in the local market to make an
    income.
  </p>
</section>

<section class="container mt-4 pt-4">
  <h1 style="font-weight: bold">Our Impact</h1>
  <div class="row mx-auto justify-content-center">
    <div class="col-md-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://i0.wp.com/feminisminindia.com/wp-content/uploads/2019/10/teenage-girls-education_Naandi-Foundation_resized-1024x691.jpg?fit=1024%2C691&ssl=1"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            <b>120 young girls</b> were trained in Basic computer and
            conversational English skills.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://www.phillymag.com/wp-content/uploads/sites/3/2020/01/women-work-900x600-1.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            <b>2 Corporate exposure visits</b> were organised for these girls,
            some of them had never stepped out of the Old city!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://buddy4study.s3.ap-southeast-1.amazonaws.com/blog/uploads/2018/08/17103044/Pragati_scholarship.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            <b>31% of the girls</b> were able to take up work after completing
            their training.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-auto mt-2 justify-content-center">
    <div class="col-md-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://files.globalgiving.org/pfil/15201/pict_large.jpg?m=1381216398000"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            <b>60 women</b> were upskilled in making products out of plastic and
            40 of them were trained in hand embroidery.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://www.visualsstock.com/images/Low/4/AK56403.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            With the training support, 50% of the women were able to start
            earning an income upwards of
            <b>Rs 2000/ per month.</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
