<div class="container mt-4">
  <h1>Job mapping</h1>
  <p>Enroll student to a job</p>
</div>

<section class="container">
  <form class="row" [formGroup]="jobregistrationform" (ngSubmit)="onSubmit()">
    <div class="col-md-4">
      <mat-form-field
        class="full-width-field"
        appearance="fill"
        formGroupName="jobs"
      >
        <mat-label for="job">Select a job role</mat-label>
        <mat-select name="job" formControlName="id">
          <mat-option *ngFor="let j of jobList" [value]="j.id">
            {{ j.jobName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="full-width-field" appearance="fill">
        <mat-label>Students</mat-label>
        <mat-select formControlName="students" multiple>
          <mat-option *ngFor="let s of studentList" [value]="s.id">
            {{ s.studentName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-2 align-self-center">
      <button mat-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</section>

<div class="container mt-4">
  <h1>View current mapping</h1>
  <p>View students mapped previously to a job</p>

  <form class="row" [formGroup]="jobviewform" (ngSubmit)="onView()">
    <div class="col-md-6">
      <mat-form-field class="full-width-field" appearance="fill">
        <mat-label for="job">Select a job role</mat-label>
        <mat-select name="job" formControlName="id">
          <mat-option *ngFor="let j of jobList" [value]="j.id">
            {{ j.jobName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4 align-self-center">
      <button mat-button color="primary" type="submit">Submit</button>
    </div>
  </form>

  <div class="mat-elevation-z4 container mt-5 mb-2" *ngIf="isLoading">
    <section class="p-3">
      <h2 style="color: #00559b">{{ jobToView?.jobName | titlecase }}</h2>
      <h3>Description: {{ jobToView?.jobDescription }}</h3>
      <p>
        {{ jobToView?.jobType }} - {{ jobToView?.jobRole }}. Apply before:
        {{ jobToView?.jobValidateTillEndDate }}
      </p>
      <div class="row">
        <h2 style="color: #00559b">Job Information</h2>
        <div class="col-md-6">
          <p>Work location: {{ jobToView?.jobLocation }}</p>
          <p>
            Salary Range: {{ jobToView?.minSalary }} -
            {{ jobToView?.maxSalary }}
          </p>
          <p>No of vacancies: {{ jobToView?.jobOpenVacancy }}</p>
        </div>
        <div class="col-md-6">
          <p>Min. Qualification: {{ jobToView?.minimumQualification }}</p>
          <p>Add. Qualification: {{ jobToView?.minimumQualification }}</p>
          <p>Open position: {{ jobToView?.jobOpenVacancy }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2 style="color: #00559b">Students Mapped</h2>
          <div *ngIf="jobToView?.students?.length == 0">
            <p>No students are mapped yet</p>
          </div>
          <div *ngFor="let s of jobToView?.students; let i = index">
            <h4>{{ i + 1 }}. {{ s.studentName }} ({{ s.uid }})</h4>
            <p>Registraion No: {{ s.regdNo }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <h2 style="color: #00559b">Posted By</h2>
          <p>Recruiter Name: {{ jobToView?.jobPostedByName }}</p>
          <p>Email ID: {{ jobToView?.jobPostedByEmailId }}</p>
          <p>Contact: {{ jobToView?.jobPostedByMobileNo }}</p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="container" style="min-height: 250px"></div>
