.full-width-field {
  width: 100%;
}

mat-table {
  display: table;
  width: 100%;
}

th {
  background-color: whitesmoke;
  font-size: 14px;
}

th.mat-header-cell {
  padding-top: 24px;
}

td.mat-cell {
  padding-top: 18px;
}
