<div class="mat-elevation-z4 container mt-5 mb-2">
  <div class="table-title p-4">
    <div class="row">
      <div class="col-md-7">
        <h2>Student list</h2>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Search by name</mat-label>
          <input
            matInput
            placeholder="Ex. Chandan Harayan"
            [(ngModel)]="studentToSearch"
            (keyup)="performFilterOnStudents()"
            (keydown)="performFilterOnStudents()"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button
          mat-stroked-button
          color="primary"
          href="#addStudentModal"
          data-toggle="modal"
        >
          <mat-icon>add</mat-icon> Add a new Student
        </button>
      </div>
    </div>
  </div>
  <p
    class="row text-left justify-content-center align-items-center"
    *ngIf="isLoading"
  >
    <mat-spinner [diameter]="40"></mat-spinner>
    &nbsp;&nbsp;Loading...
  </p>
  <p
    class="text-center"
    *ngIf="!isLoading && dataSourceStudent.data.length == 0"
  >
    No student details found
  </p>

  <mat-table
    mat-table
    [dataSource]="dataSourceStudent"
    *ngIf="dataSourceStudent.data.length != 0"
  >
    <ng-container matColumnDef="uid">
      <th mat-header-cell *matHeaderCellDef>UID</th>
      <td mat-cell *matCellDef="let element">
        {{ element.uid ? element.uid : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="regdNo">
      <th mat-header-cell *matHeaderCellDef>Registration No</th>
      <td mat-cell *matCellDef="let element">
        {{ element.regdNo ? element.regdNo : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="studentName">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.studentName ? (element.studentName | titlecase) : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="qualification">
      <th mat-header-cell *matHeaderCellDef>Qualification</th>
      <td mat-cell *matCellDef="let element">
        {{ element.qualification ? element.qualification : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="university">
      <th mat-header-cell *matHeaderCellDef>University</th>
      <td mat-cell *matCellDef="let element">
        {{ element.university ? element.university : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="studentCurrentSkills">
      <th mat-header-cell *matHeaderCellDef>Current Skills</th>
      <td mat-cell *matCellDef="let element">
        {{ element.studentCurrentSkills ? element.studentCurrentSkills : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="studentCurrentJobFields">
      <th mat-header-cell *matHeaderCellDef>Field</th>
      <td mat-cell *matCellDef="let element">
        {{
          element.studentCurrentJobFields
            ? element.studentCurrentJobFields
            : "-"
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="experience">
      <th mat-header-cell *matHeaderCellDef>Experience</th>
      <td mat-cell *matCellDef="let element">
        {{ element.experience ? element.experience : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef>Age</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateOfBirth ? calculateAge(element.dateOfBirth) : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div
          class="row"
          style="width: 100%; hyphens: auto; padding-bottom: 10px"
        >
          <div class="col-md-5">
            <button
              mat-stroked-button
              color="accent"
              href="#viewStudentModal"
              (click)="view(element.id)"
              class="view"
              data-toggle="modal"
            >
              <mat-icon>visibility</mat-icon>
            </button>
          </div>
          <div class="col-md-5">
            <button
              mat-stroked-button
              color="primary"
              href="#editStudentModal"
              (click)="update(element)"
              class="edit"
              data-toggle="modal"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedStudentColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedStudentColumns"></tr>
  </mat-table>

  <mat-paginator
    #MatPaginator1
    [pageSizeOptions]="[10, 20, 30, 40]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<!-- Add Student Modal -->
<div id="addStudentModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="registrationform" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h4 class="modal-title">Add Student</h4>
          <button
            #close
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" formControlName="role" />
          <div class="form-group">
            <label>UID</label>
            <input
              type="text"
              formControlName="uid"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>UID Type</label>
            <select formControlName="uidType" class="form-control" required>
              <option value="Aadhar">Aadhar</option>
              <option value="PAN">PAN</option>
              <option value="Driving License">Driving License</option>
            </select>
          </div>
          <div class="form-group">
            <label>Registration No</label>
            <input
              type="text"
              formControlName="regdNo"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Student Name</label>
            <input
              type="text"
              formControlName="studentName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Qualification</label>
            <input
              type="text"
              formControlName="qualification"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>University</label>
            <input
              type="text"
              formControlName="university"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Current Skills</label>
            <input
              type="text"
              formControlName="studentCurrentSkills"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Field</label>
            <input
              type="text"
              formControlName="studentCurrentJobFields"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Experience</label>
            <input
              class="form-control"
              formControlName="experience"
              type="number"
              required
            />
          </div>
          <div class="form-group">
            <label>Date of Birth</label>
            <input
              class="form-control"
              formControlName="dateOfBirth"
              type="date"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12">
              <p
                *ngIf="
                  this.registrationform.status == 'INVALID' &&
                  this.registrationform.touched
                "
                style="color: red"
              >
                Student details are not valid
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
            </div>
            <div class="col-md-6">
              <input type="submit" class="btn btn-info" value="Save" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Student Modal -->
<div id="editStudentModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="studentupdateform" (ngSubmit)="onUpdate()">
        <div class="modal-header">
          <h4 class="modal-title">Edit Student</h4>
          <button
            #editClose
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" formControlName="id" />
          <div class="form-group">
            <label>UID</label>
            <input
              type="text"
              formControlName="uid"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Registration No</label>
            <input
              type="text"
              formControlName="regdNo"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Student Name</label>
            <input
              type="text"
              formControlName="studentName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Qualification</label>
            <input
              type="text"
              formControlName="qualification"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>University</label>
            <input
              type="text"
              formControlName="university"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Current Skills</label>
            <input
              type="text"
              formControlName="studentCurrentSkills"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Field</label>
            <input
              type="text"
              formControlName="studentCurrentJobFields"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Experience</label>
            <input
              class="form-control"
              formControlName="experience"
              type="number"
              required
            />
          </div>
          <div class="form-group">
            <label>Date of Birth</label>
            <input
              class="form-control"
              formControlName="dateOfBirth"
              type="date"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12">
              <p
                *ngIf="this.studentupdateform.status == 'INVALID'"
                style="color: red"
              >
                Student details are not valid
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
            </div>
            <div class="col-md-6">
              <input type="submit" class="btn btn-info" value="Save" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container" style="min-height: 250px"></div>
