<div class="mat-elevation-z4 container mt-5 mb-2">
  <div class="table-title p-4">
    <div class="row">
      <div class="col-md-7">
        <h2>Partner details</h2>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Search by name</mat-label>
          <input
            matInput
            placeholder="Ex. Apollo"
            [(ngModel)]="partnerToSearch"
            (keyup)="performFilterOnPartners()"
            (keydown)="performFilterOnPartners()"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button
          mat-stroked-button
          color="primary"
          href="#addPartnerModal"
          data-toggle="modal"
        >
          <mat-icon>add</mat-icon> Add a new Partner
        </button>
      </div>
    </div>
  </div>
  <p
    class="row text-left justify-content-center align-items-center"
    *ngIf="isLoading"
  >
    <mat-spinner [diameter]="40"></mat-spinner>
    &nbsp;&nbsp;Loading...
  </p>
  <p
    class="text-center"
    *ngIf="!isLoading && dataSourcePartner.data.length == 0"
  >
    No partner details found
  </p>

  <mat-table
    mat-table
    [dataSource]="dataSourcePartner"
    *ngIf="dataSourcePartner.data.length != 0"
  >
    <ng-container matColumnDef="partnerName">
      <th mat-header-cell *matHeaderCellDef>Partner Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.partnerName ? (element.partnerName | titlecase) : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">
        {{ element.address ? element.address : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="phone1">
      <th mat-header-cell *matHeaderCellDef>Contact</th>
      <td mat-cell *matCellDef="let element">
        {{ element.phone1 ? element.phone1 : "-" }}
        {{ element.phone2 ? ", " + element.phone2 : "" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email ID</th>
      <td mat-cell *matCellDef="let element">
        {{ element.email ? element.email : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit partner">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div
          class="row"
          style="
            width: 60%;
            hyphens: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
          "
        >
          <button
            mat-stroked-button
            color="primary"
            href="#editPartnerModal"
            (click)="update(element)"
            class="edit"
            data-toggle="modal"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedPartnerColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedPartnerColumns"></tr>
  </mat-table>

  <mat-paginator
    #MatPaginator1
    [pageSizeOptions]="[10, 20, 30, 40]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<!-- Add Partner Model -->
<div id="addPartnerModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="registrationform" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h4 class="modal-title">Add a new Partner</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Partner Name</label>
            <input
              type="text"
              formControlName="partnerName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea
              formControlName="address"
              class="form-control"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input
              type="text"
              formControlName="phone1"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Alternative Phone</label>
            <input
              type="number"
              formControlName="phone2"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Email ID</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12">
              <p
                *ngIf="
                  this.registrationform.status == 'INVALID' &&
                  this.registrationform.touched
                "
                style="color: red"
              >
                Partner details are not valid
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
            </div>
            <div class="col-md-6">
              <input type="submit" class="btn btn-info" value="Save" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal HTML -->
<div id="editPartnerModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="partnerupdateform" (ngSubmit)="onUpdate()">
        <div class="modal-header">
          <h4 class="modal-title">Edit Partner</h4>
          <button
            #closeEdit
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" formControlName="id" />
          <div class="form-group">
            <label>Partner Name</label>
            <input
              type="text"
              formControlName="partnerName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea
              type="text"
              formControlName="address"
              class="form-control"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <label>Phone No</label>
            <input
              type="number"
              formControlName="phone1"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Alternative Phone</label>
            <input
              type="number"
              formControlName="phone2"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Email ID</label>
            <input
              class="form-control"
              formControlName="email"
              type="email"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12">
              <p
                *ngIf="
                  this.partnerupdateform.status == 'INVALID' ||
                  this.registrationform.touched
                "
                style="color: red"
              >
                Partner details are not valid
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
            </div>
            <div class="col-md-6">
              <input type="submit" class="btn btn-info" value="Save" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container" style="min-height: 250px"></div>
