<form class="form-signin">
  <div class="text-center mb-4">
    <img
      class="mb-4"
      src="https://www.unitedwayhyderabad.org/images/logo.png"
    />
    <h1 class="h3 mb-1 font-weight-normal">Welcome to Hunar</h1>
  </div>

  <form
    name="form"
    class="form-signin"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Enter UID</mat-label>
            <input
              matInput
              type="text"
              name="uid"
              [(ngModel)]="form.uid"
              required
              minlength="3"
              #uid="ngModel"
            />
            <mat-icon matPrefix>gavel</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field
            class="full-width"
            appearance="outline"
            ngDefaultControl
          >
            <mat-label>Select ID type</mat-label>
            <mat-select
              [(ngModel)]="form.uidType"
              #uidType="ngModel"
              name="uidType"
            >
              <mat-option value="Aadhar">Aadhar</mat-option>
              <mat-option value="PAN">PAN</mat-option>
              <mat-option value="Driving License">Driving License</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter password</mat-label>
        <input
          matInput
          placeholder="Enter password"
          [type]="hidePass ? 'password' : 'text'"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[*.!@$]).{6,32}$"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePassHidden()"
        >
          <mat-icon>{{ hidePass ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-icon matPrefix>lock_outline</mat-icon>
      </mat-form-field>
    </div>

    <button mat-flat-button color="accent" class="full-width">Login</button>
  </form>

  <div class="container mt-4">
    <h4 class="text-center">Are you a new student?</h4>
    <button
      mat-flat-button
      color="primary"
      class="full-width"
      (click)="navigateToRegister()"
    >
      Register here
    </button>
  </div>
</form>
