<div class="row mx-auto justify-content-center text-center mt-4">
  <h1>Reports</h1>
  <p>Generate meaningful insights</p>
</div>
<form
name="form"
class="form-signin"
(ngSubmit)="onSubmit()"
#f="ngForm"
novalidate
>
<div class="form-group">
    <div class="row mx-auto justify-content-center">
      <div class="col-md-3 pl-0">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Enter center name</mat-label>
          <input
            matInput
            placeholder="Enter name"
            type="text"
            name="centerName"
            [(ngModel)]="form.centerName"
            #centerName="ngModel"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3 mt-3 pl-0">
        <mat-radio-group style="margin-left: 1rem;"
        aria-label="Select an option"
        required
        [(ngModel)]="form.gender"
        #gender="ngModel"
        name="gender">
        <mat-label class="mr-2">Gender</mat-label>
        <mat-radio-button value="Male" class="mr-2">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-3 pl-0">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Enter a registration date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate name="from" [(ngModel)]="form.registrationDate.from" #from="ngModel" placeholder="Start date">
            <input matEndDate name="to" [(ngModel)]="form.registrationDate.to" #to="ngModel" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col-md-3 pl-0">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Enter enrolled course</mat-label>
          <input
            matInput
            placeholder="Enter enrolled course"
            type="text"
            name="enrolledInCourse"
            [(ngModel)]="form.enrolledInCourse"
            #enrolledInCourse="ngModel"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row mx-auto justify-content-center">
      <div class="col-md-3 pl-0">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Enter experience in years</mat-label>
          <input
            matInput
            placeholder="experience in years"
            type="number"
            name="experienceInYears"
            [(ngModel)]="form.experienceInYears"
            #experienceInYears="ngModel"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3 pl-0">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Enter Industry</mat-label>
          <input
            matInput
            placeholder="Enter Industry"
            type="text"
            name="industry"
            [(ngModel)]="form.industry"
            #industry="ngModel"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3 pl-0">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Enter Highest Education</mat-label>
          <input
            matInput
            placeholder="Enter Highest Education"
            type="text"
            name="highestEducation"
            [(ngModel)]="form.highestEducation"
            #highestEducation="ngModel"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3 pl-0">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Enter Area of Interests</mat-label>
          <input
            matInput
            placeholder="Enter Area of Interests"
            type="text"
            name="areaOfInterest"
            [(ngModel)]="form.areaOfInterest"
            #areaOfInterest="ngModel"
          />
        </mat-form-field>
      </div>
    </div>
</div>

<div class="container mt-4 text-center">
  <button mat-flat-button color="primary" style="margin: 0 1rem;" (click)="onView()">
    View
  </button>
  <button mat-flat-button color="primary" style="margin: 0 1rem;" (click)="excelDownload()">
      Excel
  </button>
  <!-- <button mat-flat-button color="primary" style="margin: 0 1rem;" (click)="pdfDownload()">
      PDF
  </button> -->
</div>
</form>
<div>
  <mat-table
  mat-table
  [dataSource]="dataSourceCourse"
  *ngIf="dataSourceCourse.data.length != 0"
>
  <ng-container matColumnDef="uid">
    <th mat-header-cell *matHeaderCellDef>UID</th>
    <td mat-cell *matCellDef="let element">
      {{ element.student?.uid }}
    </td>
  </ng-container>

  <ng-container matColumnDef="regdNo">
    <th mat-header-cell *matHeaderCellDef>Student Registration#</th>
    <td mat-cell *matCellDef="let element">
      {{ element.student?.regdNo}}
    </td>
  </ng-container>

  <ng-container matColumnDef="studentName">
    <th mat-header-cell *matHeaderCellDef>Student Name</th>
    <td mat-cell *matCellDef="let element">{{ element.student.studentName }}</td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Gender</th>
    <td mat-cell *matCellDef="let element">{{ element.student.gender }}</td>
  </ng-container>

  <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
    <td mat-cell *matCellDef="let element">{{ element.student.dateOfBirth }}</td>
  </ng-container>

  <ng-container matColumnDef="qualification">
    <th mat-header-cell *matHeaderCellDef>Qualification</th>
    <td mat-cell *matCellDef="let element">
      {{ element.student.qualification }}
    </td>
  </ng-container>
  <ng-container matColumnDef="studentCurrentSkills">
    <th mat-header-cell *matHeaderCellDef>Current Skills</th>
    <td mat-cell *matCellDef="let element">
      {{ element.student.studentCurrentSkills }}
    </td>
  </ng-container>
  <ng-container matColumnDef="experience">
    <th mat-header-cell *matHeaderCellDef>Experience</th>
    <td mat-cell *matCellDef="let element">
      {{ element.student.experience }}
    </td>
  </ng-container>
  <ng-container matColumnDef="maxSalary">
    <th mat-header-cell *matHeaderCellDef>How much would you like to earn?</th>
    <td mat-cell *matCellDef="let element">
      {{ element.maxSalary }}
    </td>
  </ng-container>
  <ng-container matColumnDef="jobName">
    <th mat-header-cell *matHeaderCellDef>Job Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.jobName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="jobDescription">
    <th mat-header-cell *matHeaderCellDef>Job Description</th>
    <td mat-cell *matCellDef="let element">
      {{ element.jobDescription }}
    </td>
  </ng-container>
  <ng-container matColumnDef="jobType">
    <th mat-header-cell *matHeaderCellDef>Job Type</th>
    <td mat-cell *matCellDef="let element">
      {{ element.jobType }}
    </td>
  </ng-container>
  <ng-container matColumnDef="jobStatus">
    <th mat-header-cell *matHeaderCellDef>Job Status</th>
    <td mat-cell *matCellDef="let element">
      {{ element.jobStatus }}
    </td>
  </ng-container>
  <ng-container matColumnDef="jobLocation">
    <th mat-header-cell *matHeaderCellDef>Job Location</th>
    <td mat-cell *matCellDef="let element">
      {{ element.jobLocation }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedCourseColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedCourseColumns"></tr>
</mat-table>

<mat-paginator *ngIf="dataSourceCourse.data.length != 0"
  #MatPaginator1
  [pageSizeOptions]="[10, 20, 30, 40]"
  showFirstLastButtons
></mat-paginator>
</div>