<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Your information will be available shortly, please wait...</h1>
      </div>
    </div>
  </div>
</div>
