mat-table {
  display: table;
  width: 100%;
}

th {
  background-color: whitesmoke;
  font-size: 14px;
}

th.mat-header-cell {
  padding-top: 24px;
}

td.mat-cell {
  padding-top: 18px;
}

/* Modal styles */
.modal .modal-dialog {
  max-width: 600px;
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
}

.modal .modal-content {
  border-radius: 3px;
  font-size: 14px;
}

.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}

.modal .modal-title {
  display: inline-block;
  font-size: 18px;
}

.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}

.modal textarea.form-control {
  resize: vertical;
}

.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}

.modal form label {
  font-weight: normal;
}
