<div class="mat-elevation-z4 container mt-5 mb-2">
  <div class="table-title p-4">
    <div class="row">
      <div class="col-md-7">
        <h2>Course details</h2>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Search by name</mat-label>
          <input
            matInput
            placeholder="Ex. Crash course"
            [(ngModel)]="courseToSearch"
            (keyup)="performFilterOnCourses()"
            (keydown)="performFilterOnCourses()"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button
          mat-stroked-button
          color="primary"
          href="#addCourseModal"
          data-toggle="modal"
        >
          <mat-icon>add</mat-icon> Add a new course
        </button>
      </div>
    </div>
  </div>
  <p
    class="row text-left justify-content-center align-items-center"
    *ngIf="isLoading"
  >
    <mat-spinner [diameter]="40"></mat-spinner>
    &nbsp;&nbsp;Loading...
  </p>
  <p
    class="text-center"
    *ngIf="!isLoading && dataSourceCourse.data.length == 0"
  >
    No course details found
  </p>

  <mat-table
    mat-table
    [dataSource]="dataSourceCourse"
    *ngIf="dataSourceCourse.data.length != 0"
  >
    <ng-container matColumnDef="courseName">
      <th mat-header-cell *matHeaderCellDef>Course Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.courseName ? (element.courseName | titlecase) : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Details</th>
      <td mat-cell *matCellDef="let element">
        {{ element.details ? element.details : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration(months)</th>
      <td mat-cell *matCellDef="let element">
        {{ element.duration ? element.duration : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.startDate ? element.startDate : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>End Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.endDate ? element.endDate : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="numberOfSeats">
      <th mat-header-cell *matHeaderCellDef>No of Seats</th>
      <td mat-cell *matCellDef="let element">
        {{ element.numberOfSeats ? element.numberOfSeats : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="numberOfEnrollment">
      <th mat-header-cell *matHeaderCellDef>Enrollments</th>
      <td mat-cell *matCellDef="let element">
        {{ element.numberOfEnrollment ? element.numberOfEnrollment : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="skills">
      <th mat-header-cell *matHeaderCellDef>Skills</th>
      <td mat-cell *matCellDef="let element">
        {{ element.skills ? element.skills : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit course">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div
          class="row"
          style="
            width: 60%;
            hyphens: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
          "
        >
          <button
            mat-stroked-button
            color="primary"
            href="#editCourseModal"
            (click)="update(element)"
            class="edit"
            data-toggle="modal"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedCourseColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedCourseColumns"></tr>
  </mat-table>

  <mat-paginator
    #MatPaginator1
    [pageSizeOptions]="[10, 20, 30, 40]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<div class="container" style="min-height: 250px"></div>

<!-- Add Course Model -->
<div id="addCourseModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="registrationform" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h4 class="modal-title">Add a new Course</h4>
          <button
            #close
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Course Name</label>
            <input
              type="text"
              formControlName="courseName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Details</label>
            <textarea
              type="text"
              formControlName="details"
              class="form-control"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <label>Duration(months)</label>
            <input
              type="text"
              formControlName="duration"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Start date</label>
            <input
              type="date"
              formControlName="startDate"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>End date</label>
            <input
              type="date"
              formControlName="endDate"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>No of Seats</label>
            <input
              type="number"
              formControlName="numberOfSeats"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>No of Enrollments</label>
            <input
              type="number"
              formControlName="numberOfEnrollment"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Skills</label>
            <input
              type="text"
              formControlName="skills"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <div class="form-group" formGroupName="partners">
              <label>Partner Name</label>
              <select class="form-control" formControlName="id">
                <option *ngFor="let item of partnersList" [value]="item.id">
                  {{ item.partnerName }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12">
              <p
                *ngIf="
                  this.registrationform.status == 'INVALID' &&
                  this.registrationform.touched
                "
                style="color: red"
              >
                Course details are not valid
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
            </div>
            <div class="col-md-6">
              <input type="submit" class="btn btn-info" value="Save" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal HTML -->
<div id="editCourseModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="courseUpdateform" (ngSubmit)="onUpdate()">
        <div class="modal-header">
          <h4 class="modal-title">Edit Course</h4>
          <button
            #closeEdit
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" formControlName="id" />
          <div class="form-group">
            <label>Course Name</label>
            <input
              type="text"
              formControlName="courseName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Details</label>
            <textarea
              type="text"
              formControlName="details"
              class="form-control"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <label>Duration(months)</label>
            <input
              type="text"
              formControlName="duration"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Start date</label>
            <input
              type="date"
              formControlName="startDate"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>End date</label>
            <input
              type="date"
              formControlName="endDate"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>No of Seats</label>
            <input
              type="number"
              formControlName="numberOfSeats"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>No of Enrollments</label>
            <input
              type="number"
              formControlName="numberOfEnrollment"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Skills</label>
            <input
              type="text"
              formControlName="skills"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12">
              <p
                *ngIf="
                  this.courseUpdateform.status == 'INVALID' ||
                  this.registrationform.touched
                "
                style="color: red"
              >
                Course details are not valid
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
            </div>
            <div class="col-md-6">
              <input type="submit" class="btn btn-info" value="Save" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
