<section class="my-4">
  <h1 class="text-center">Welcome to Admin Dashboard</h1>
</section>

<div class="container" style="min-height: 60px"></div>

<section class="container mb-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary" (click)="redirect('student-list')">
        <i class="fa fa-graduation-cap"></i>
        <span class="count-name">Students</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success" (click)="redirect('partner-list')">
        <i class="fa fa-users"></i>
        <span class="count-name">Partners</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info" (click)="redirect('course-list')">
        <i class="fa fa-book"></i>
        <span class="count-name">Courses</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger" (click)="redirect('job-list')">
        <i class="fa fa-briefcase"></i>
        <span class="count-name">Jobs</span>
      </div>
    </div>
  </div>

  <div class="container" style="min-height: 250px"></div>
</section>
