html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #00559b !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle {
  background-color: #00559b !important;
}