<div class="mat-elevation-z4 container mt-5 mb-2">
  <div class="table-title p-4">
    <div class="row">
      <div class="col-md-10">
        <h2>Job details</h2>
      </div>
      <div class="col-md-2">
        <button
          mat-stroked-button
          color="primary"
          href="#addJobModal"
          data-toggle="modal"
        >
          <mat-icon>add</mat-icon> Add a new Job
        </button>
      </div>
    </div>
  </div>
  <p
    class="row text-left justify-content-center align-items-center"
    *ngIf="isLoading"
  >
    <mat-spinner [diameter]="40"></mat-spinner>
    &nbsp;&nbsp;Loading...
  </p>
  <p class="text-center" *ngIf="!isLoading && dataSourceJob.data.length == 0">
    No Job details found
  </p>

  <mat-table
    mat-table
    [dataSource]="dataSourceJob"
    *ngIf="dataSourceJob.data.length != 0"
  >
    <ng-container matColumnDef="jobName">
      <th mat-header-cell *matHeaderCellDef>Job Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.jobName | titlecase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="jobPostedByName">
      <th mat-header-cell *matHeaderCellDef>Posted By</th>
      <td mat-cell *matCellDef="let element">
        {{ element.jobPostedByName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="jobLocation">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let element">
        {{ element.jobLocation }}
      </td>
    </ng-container>

    <ng-container matColumnDef="jobOpenVacancy">
      <th mat-header-cell *matHeaderCellDef>Vacancies available</th>
      <td mat-cell *matCellDef="let element">
        {{ element.jobOpenVacancy }}
      </td>
    </ng-container>

    <ng-container matColumnDef="jobRole">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">{{ element.jobRole }}</td>
    </ng-container>

    <ng-container matColumnDef="jobValidateTillEndDate">
      <th mat-header-cell *matHeaderCellDef>Valid till</th>
      <td mat-cell *matCellDef="let element">
        {{ element.jobValidateTillEndDate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef>Salary</th>
      <td mat-cell *matCellDef="let element">
        {{ element.minSalary | currency: "INR" }} - {{ element.maxSalary | currency: 'INR' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div
          class="row"
          style="
            width: 60%;
            hyphens: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
          "
        >
          <button
            mat-stroked-button
            color="primary"
            href="#editJobModal"
            (click)="update(element)"
            class="edit"
            data-toggle="modal"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedJobColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedJobColumns"></tr>
  </mat-table>

  <mat-paginator
    #MatPaginator1
    [pageSizeOptions]="[10, 20, 30, 40]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<!-- Add Job Model -->
<div id="addJobModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="registrationform" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h4 class="modal-title">Add a new Job</h4>
          <button
            #close
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Job Name</label>
            <input
              type="text"
              formControlName="jobName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Job Description</label>
            <textarea
              type="text"
              formControlName="jobDescription"
              class="form-control"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <label>Industry</label>
            <input
              type="text"
              formControlName="jobIndustry"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Location</label>
            <input
              type="text"
              formControlName="jobLocation"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Posted by</label>
            <input
              type="text"
              formControlName="jobPostedByName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Recruiter email id</label>
            <input
              type="email"
              formControlName="jobPostedByEmailId"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Recruiter mobile no</label>
            <input
              type="number"
              formControlName="jobPostedByMobileNo"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Recruiter name</label>
            <input
              type="text"
              formControlName="jobPostedByName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Vacancies</label>
            <input
              type="number"
              formControlName="jobOpenVacancy"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Role</label>
            <input
              type="text"
              class="form-control"
              formControlName="jobRole"
              required
            />
          </div>
          <div class="form-group">
            <label>Type</label>
            <input
              type="text"
              formControlName="jobType"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Posting date</label>
            <input
              type="date"
              formControlName="jobPostingDate"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Valid till</label>
            <input
              type="date"
              class="form-control"
              formControlName="jobValidateTillEndDate"
              required
            />
          </div>
          <div class="form-group">
            <label>Min salary</label>
            <input
              type="number"
              class="form-control"
              formControlName="minSalary"
              required
            />
          </div>
          <div class="form-group">
            <label>Max salary</label>
            <input
              type="number"
              class="form-control"
              formControlName="maxSalary"
              required
            />
          </div>
          <div class="form-group">
            <label>Min qualification</label>
            <input
              type="text"
              class="form-control"
              formControlName="minimumQualification"
              required
            />
          </div>
          <div class="form-group">
            <label>Additional qualification</label>
            <input
              type="text"
              class="form-control"
              formControlName="additionalQualification"
              required
            />
          </div>
          <div class="form-group">
            <label>Travel required</label>
            <select
              type="text"
              class="form-control"
              formControlName="travelRequired"
              required
            >
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12">
              <p
                *ngIf="
                  this.registrationform.status == 'INVALID' &&
                  this.registrationform.touched
                "
                style="color: red"
              >
                Job details are not valid
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
            </div>
            <div class="col-md-6">
              <input type="submit" class="btn btn-info" value="Save" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal HTML -->
<div id="editJobModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="jobupdateform" (ngSubmit)="onUpdate()">
        <div class="modal-header">
          <h4 class="modal-title">Edit Job</h4>
          <button
            #editClose
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" formControlName="id" />
          <div class="form-group">
            <label>Job Name</label>
            <input
              type="text"
              formControlName="jobName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Job Description</label>
            <textarea
              type="text"
              formControlName="jobDescription"
              class="form-control"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <label>Industry</label>
            <input
              type="text"
              formControlName="jobIndustry"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Location</label>
            <input
              type="text"
              formControlName="jobLocation"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Posted by</label>
            <input
              type="text"
              formControlName="jobPostedByName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Recruiter email id</label>
            <input
              type="email"
              formControlName="jobPostedByEmailId"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Recruiter mobile no</label>
            <input
              type="number"
              formControlName="jobPostedByMobileNo"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Recruiter name</label>
            <input
              type="text"
              formControlName="jobPostedByName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Vacancies</label>
            <input
              type="number"
              formControlName="jobOpenVacancy"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Role</label>
            <input
              type="text"
              class="form-control"
              formControlName="jobRole"
              required
            />
          </div>
          <div class="form-group">
            <label>Type</label>
            <input
              type="text"
              formControlName="jobType"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Posting date</label>
            <input
              type="date"
              formControlName="jobPostingDate"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Valid till</label>
            <input
              type="date"
              class="form-control"
              formControlName="jobValidateTillEndDate"
              required
            />
          </div>
          <div class="form-group">
            <label>Min salary</label>
            <input
              type="number"
              class="form-control"
              formControlName="minSalary"
              required
            />
          </div>
          <div class="form-group">
            <label>Max salary</label>
            <input
              type="number"
              class="form-control"
              formControlName="maxSalary"
              required
            />
          </div>
          <div class="form-group">
            <label>Min qualification</label>
            <input
              type="text"
              class="form-control"
              formControlName="minimumQualification"
              required
            />
          </div>
          <div class="form-group">
            <label>Additional qualification</label>
            <input
              type="text"
              class="form-control"
              formControlName="additionalQualification"
              required
            />
          </div>
          <div class="form-group">
            <label>Travel required</label>
            <select
              type="text"
              class="form-control"
              formControlName="travelRequired"
              required
            >
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12">
              <p
                *ngIf="
                  this.jobupdateform.status == 'INVALID' ||
                  this.registrationform.touched
                "
                style="color: red"
              >
                Job details are not valid
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
            </div>
            <div class="col-md-6">
              <input type="submit" class="btn btn-info" value="Save" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container" style="min-height: 250px"></div>
