h3 {
  font-family: Calibri;
  font-size: 25pt;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

table {
  font-family: Calibri;
  color: black;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  border-collapse: collapse;
}

table.inner {
  border: 0px;
}

table tr td {
  text-align: left;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 4px;
}

.full-width {
  width: 100%;
}

.header {
  font-size: 1.5rem;
  height: 40px;
  font-weight: 600;
  color: #00559b;
}
