<form class="form-signin">
  <div class="text-center mb-4">
    <img
      class="mb-4"
      src="https://www.unitedwayhyderabad.org/images/logo.png"
    />
    <h1 class="h3 mb-1 font-weight-normal">Register a student</h1>
    <p>Be a part of Hunar</p>
  </div>

  <form
    name="form"
    class="form-signin"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter name</mat-label>
        <input
          matInput
          type="text"
          name="studentName"
          [(ngModel)]="form.studentName"
          required
          minlength="3"
          #studentName="ngModel"
        />
        <mat-icon matPrefix>person_outline</mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="3"
          #password="ngModel"
        />
        <mat-icon matPrefix>password</mat-icon>
      </mat-form-field>
      <div class="row mx-auto justify-content-center">
        <div class="col-md-6 pl-0">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Enter Govt ID</mat-label>
            <input
              matInput
              type="text"
              name="uid"
              [(ngModel)]="form.uid"
              required
              minlength="3"
              #uid="ngModel"
            />
            <mat-icon matPrefix>gavel</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-6 pl-0">
          <mat-form-field
            class="full-width"
            appearance="outline"
            ngDefaultControl
            required
          >
            <mat-label>Select ID type</mat-label>
            <mat-select
              [(ngModel)]="form.uidType"
              #uidType="ngModel"
              name="uidType"
              required
            >
              <mat-option value="Aadhar">Aadhar</mat-option>
              <mat-option value="PAN">PAN</mat-option>
              <mat-option value="Driving License">Driving License</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row mx-auto justify-content-center">
        <mat-radio-group
          aria-label="Select an option"
          required
          [(ngModel)]="form.gender"
          #gender="ngModel"
          name="gender"
        >
          <mat-label class="mr-2">Gender*</mat-label>
          <mat-radio-button value="M" class="mr-2">Male</mat-radio-button>
          <mat-radio-button value="F">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="row mx-auto justify-content-center">
        <div class="col-md-6 pl-0">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Enter Mobile no</mat-label>
            <input
              matInput
              type="number"
              name="phone"
              [(ngModel)]="form.phone"
              required
              minlength="10"
              #phone="ngModel"
            />
            <mat-icon matPrefix>local_phone</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-6 pl-0">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Enter Email ID</mat-label>
            <input
              matInput
              type="email"
              name="email"
              [(ngModel)]="form.email"
              minlength="3"
              #email="ngModel"
              required
            />
            <mat-icon matPrefix>email</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Date of Birth</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          name="dateOfBirth"
          [(ngModel)]="form.dateOfBirth"
          required
          #dateOfBirth="ngModel"
          disabled
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="container mt-4">
      <button mat-flat-button color="accent" class="full-width">
        Register
      </button>
    </div>
  </form>
</form>
