<form class="form-signin">
  <div class="text-center mb-4">
    <img
      class="mb-4"
      src="https://www.unitedwayhyderabad.org/images/logo.png"
    />
    <h1 class="h3 mb-1 font-weight-normal">Welcome to Hunar</h1>
    <p>Enter details to enter admin panel</p>
  </div>

  <form
    name="form"
    class="form-signin"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter Username</mat-label>
        <input
          matInput
          type="text"
          name="uid"
          [(ngModel)]="form.username"
          required
          minlength="3"
          #uid="ngModel"
        />
        <mat-icon matPrefix>person_outline</mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter password</mat-label>
        <input
          matInput
          placeholder="Enter password"
          [type]="hidePass ? 'password' : 'text'"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[*.!@$]).{6,32}$"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePassHidden()"
        >
          <mat-icon>{{ hidePass ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-icon matPrefix>lock_outline</mat-icon>
      </mat-form-field>
    </div>

    <button mat-flat-button color="accent" class="full-width">Login</button>
  </form>
</form>
